#container {
  margin: 30px auto;
  width: 600px;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.content {
  padding: 9px;
}

.vertical_splitter.e-splitter.e-splitter-vertical  {
  border: none;
}